<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="footballDataConfiguration" type="FootballData.FootballDataConfiguration"/>
  </configSections>
  <footballDataConfiguration baseUrl="http://www.football-data.co.uk/mmz4281/{year}/{league.id}.csv">
    <leagues>
      <league id="E0" name="Premier League"/>
      <league id="E1" name="Championship"/>
      <league id="E2" name="League 1"/>
      <league id="E3" name="League 2"/>
      <league id="EC" name="Conference"/>
    </leagues>
  </footballDataConfiguration>
</configuration>